<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Tutorial</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <h3>COMANDA IL ROBOT TRAMITE I SEGUENTI TASTI: </h3>

    <a href="/logout" class="create-account-link">
        <button type="button" class="logout">logout</button>
    </a>

    <form action="/api/movimenti" method="POST" class="movement-form">
        <div class="control-buttons">
            <input type="submit" value="W" name="W" class="move-btn">
        </div>
        <div class="control-buttons">
            <input type="submit" value="A" name="A" class="move-btn">
            <input type="submit" value="S" name="S" class="move-btn">
            <input type="submit" value="D" name="D" class="move-btn">
        </div>
        <div class="control-buttons">
            <input type="submit" value="STOP" name="STOP" class="stop-btn">
        </div>
    

    <button onclick="visualizzaDati()">Visualizza stati sensori</button>

    <div class="control-buttons" id="risultato"></div>
    <script>
        function visualizzaDati() {
            fetch("/api/v1/sensors/infrared") // aggiunto per evitare cache
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    const div = document.getElementById("risultato");
                    div.innerHTML = `<p>DL: ${data.DL}   DR: ${data.DR}</p>`;
        
     })
                .catch(error => {
                    console.error("Errore nella richiesta:", error);
                    const div = document.getElementById("risultato");
                    div.innerHTML = `<p style="color:red;">Errore: ${error.message}</p>`;
                });
            }    
            </script>

</form>

</body>

</html>
