<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Tutorial</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <h3>COMANDA IL ROBOT TRAMITE I SEGUENTI TASTI: </h3>

    <a href="/logout" class="create-account-link">
        <button type="button" class="logout">logout</button>
    </a>

    <form action="/movimenti" method="POST" class="movement-form">
        <div class="control-buttons">
            <input type="submit" value="W" name="W" class="move-btn">
        </div>
        <div class="control-buttons">
            <input type="submit" value="A" name="A" class="move-btn">
            <input type="submit" value="S" name="S" class="move-btn">
            <input type="submit" value="D" name="D" class="move-btn">
        </div>
        <div class="control-buttons">
            <input type="submit" value="STOP" name="STOP" class="stop-btn">
        </div>
    </form>

</body>

</html>
